body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #928f8f50;
    color: #000000;
}

header {
    background-color: #1e385f;
    color: #fff;
    padding: 1em;
    text-align: center;
}


nav ul li {
    display: inline; 
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
}

#info {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #7f9cec;
}

.info-box {
    background-color: #1e385f;
    color: #fff;
    border: 1px solid #928f8f50;
    padding: 1em;
    width: 50%;
    
}

.info-box h3 {
    margin-top: 0;
}

.info-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.pt {
    border: 10px solid #7f9cec;
    background-color: #1e385f;
    padding: 1em;
    margin: 1em 0;
    color: #fff;
}

.db1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #928f8f50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px solid #7f9cec;
}

.db1:hover {
    background-color: #1e385f;
}


#contact {
    text-align: center;
    border: 10px solid #7f9cec;
    background-color: #1e385f;
    color: #fff;
}


#contact i.fab {
    font-size: 3em;
    color: #ffffff;
}

#contact i.fab:hover {
    color: #000;
}